html {
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  display: flex;
  width: 100%;
  background-color: #0E0101;
  height: 80px;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

.logo a {
  font-family: 'Anton';
  font-size: 32px;
  color: white;
  padding-left: 20px;
}

.searchbar {
  margin-left: 100px;
  overflow: hidden;
  width: 50%;
}

.searchbar input, .searchbar button {
  float: left;
}

.searchbar #searchtext {
  width: 90%;
  border: none;
  height: 23px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-left: 20px;
}

.searchbar #submit {
  width: 5%;
  background-color: #398EF2;
  border: none;
  height: 25px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: white;
  font-size: 16px;
}

#submit:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.background {
  content: "";
  background: url(../pics/background.jpg);
  opacity: 0.10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.userycart {
  overflow:hidden;
}

.user, .cart {
  float:  left;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.cart i, .user i {
  position: relative;
  top: 5px;
}

.carousel {
  position: relative;
  top: 40px;
}

.links-section {
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  position: relative;
  top: 80px;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid grey;
}


.cont1, .cont2 {
  float: left;
  margin: 20px;
}

.links-section i {
  font-size: 30px;
}

.links-section p {
  margin-bottom: 0;
}

.cont1 {
  padding-top: 10px;
  position: relative;
  left: 25px;
}
