html {
  box-sizing: border-box;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  display: flex;
  width: 100%;
  background-color: #0E0101;

  position: fixed;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  flex-wrap: wrap;
}

.logo a {
  font-family: 'Anton';
  font-size: 32px;
  color: white;
  padding-left: 20px;
}

.logo a:hover {
  text-decoration: none;
}

.searchbar {
  margin-left: 100px;
  overflow: hidden;
  width: 50%;
}

.searchbar input, .searchbar button {
  float: left;
}

.searchbar #searchtext {
  width: 90%;
  border: none;
  height: 23px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding-left: 20px;
}

.searchbar #submit {
  width: 5%;
  background-color: #398EF2;
  border: none;
  height: 23px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  color: white;
  font-size: 16px;
}

#submit:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.background {
  content: "";
  background-image: url(../pics/background.jpg);
  height: 2500px;
  opacity: 0.10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.user, .cart {
  float:  left;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.user a:hover {
  color: white;
}

.dropuser {
  cursor: pointer;
}

.dropdown-menu.show {
margin-top: 33px;
}

.cart.show .dropdown-menu.show {
  margin-top: 24px;
}

#dropdownText {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Gotham-Light', sans-serif;
  display: flex;
  height: 40px;
  width: 0px;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 15px;
}

.dropdown {
  float: left;
}

.carousel {
  position: relative;
  top: 35px;
}

.links-section {
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  margin-bottom: 80px;
  position: relative;
  top: 80px;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid grey;
}


.icon, .desc {
  float: left;
  margin: 20px;
}

.links-section i {
  font-size: 30px;
}

.links-section p {
  margin-bottom: 0;
}

.links-section .icon {
  padding-top: 10px;
  position: relative;
  left: 25px;
}

.top-products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-row {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.product-container {
  width: 225px;
  height: 385px;
  margin: 150px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border: 1px solid white;
}

.product-container:hover {
    border: 1px solid #e3e3e3;
    cursor: pointer;
}

.cover {
  width: 100%;
  position: relative;
}

.cover img {
  width: 100%;
}

#newitem {
  width: 58px;
  position: absolute;
  top: -4px;
}

.buynow {
  width: 100%;
  margin: 0 auto;
}

.buynow input{
  border: none ;
  border-bottom: 1px solid red;
  margin: 5px 30px;
  outline: none;
  height: 40px;
  background-color: rgba(255, 0, 0, 0.85);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border-color: red;
}

.buynow input:hover {
    background-color: rgba(255, 0, 0, 0.9);
    cursor: pointer;
}

.price {
  margin: 0 auto;
  font-size: 28px;
  font-family: 'Roboto Condensed';
}


.special {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: 100px auto 50px auto;
  width: 70%;
}

.top-categories img {
  width: 90%;
  margin: 10px;
}

.top-categories {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: 50px auto 50px auto;
  width: 80%;
}

footer {
  background-color: rgba(12, 12, 12, 1);
  margin-top: 100px;
  width: 100%;
  z-index: 2;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}


.footer-column2, .footer-column3 {
  float: left;
  color: white;
  width: 20%;
  padding: 100px 0px;
}

.footer-column1, .footer-column4 {
  float: left;
  color: white;
  width: 30%;
  padding: 50px 100px;
}

.footer-column4 i {
  font-size: 36px;
  letter-spacing: 10px;
  padding: 20px;
}

footer .logo {
  opacity: 0.7;
}

.social-media {
  margin-top: 20px;
  font-size: 24px;
}

.social-media i {
  font-size: 36px;
  margin-left: 10px;
  letter-spacing: 10px;
}

li {
  list-style-type: simp-chinese-formal;
  font-family: 'Roboto';
}

.footer-column4 li {
  list-style-type: none;
}

.rights {
  color: rgba(255, 255, 255, 0.5);
  margin: 50px auto 0px auto;
  text-align: center;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1710px) {

    .background {
      height: 2800px;
    }

    .top-products {
      margin-top: 50px;
    }

    .product-row {
      width: 100%;
    }

  .product-container {
    margin: 50px auto 0px auto
    }
}

@media only screen and (max-width: 1450px) {

  .background {
    height: 2990px;
  }

  .links-section {
    width: 97%;
  }

  footer, footer label {
    font-size: 12px;
  }

  footer h3 {
    font-size: 16px;
  }

  footer .fas, footer .fab {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1150px) {


  .background {
    height: 3430px;
  }

  #dropdownText {
    display:none;
  }

  .links-section {
    width: 50%
  }

  .footer-column2, .footer-column3 {
    display:none;
  }

  .footer-column1, .footer-column4 {
    width: 50%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 880px) {

  .background {
    height: 5430px;
  }

  .searchbar {
    width: 100%;
    margin: 10px 0px 10px 30px;
    align-items: center;
  }

  .user, .cart {
    display: none;
  }

  .carousel {
    top: 45px;
  }

  .links-section {
    width: 80%;
  }

  .product-row {
    display: block;
    width: 100%;
  }



  .footer-column1, .footer-column4 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 532px) {

  .background {
    height: 4850px;
  }

  .links-section {
    font-size: 11px;
    margin: 30px auto;
  }

  .searchbar #submit {
    font-size: 10px;
  }
}

/* LOGIN STYLES HERE*/

.main-login {
height: 700px;
position: relative;
}

.login-box{
  margin-top: 50px;
  width: 350px;
  height: 420px;
  background: #0E0101;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px 30px 0 30px;
  border-radius: 20px;
}

#login-logo{
  text-align: center;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;


}
/* a.logo-login{
  font-size: 32px
} */


.login-box .logos {
 top: 50px;

}


}
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}

.login-box input{
  width: 100%;
  margin-bottom: 20px;
  padding-left: 6px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: #fff ;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
  border-radius: 5px;

}
.login-box input[type="submit" ]{
  border: none ;
  border-bottom: 1px solid red;
  outline: none;
  height: 40px;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border-color: red;
  font-family: 'Anton';

}
.login-box  {
  text-decoration: none;
  line-height: 20px;
  color: white;

}
.login-box a:hover {
  color: #fff;

}
.login-box input[type="submit"]:hover  {
  color: #fff;
  background-color: #F92819;
  cursor: pointer;
}

.background-login {
  content: "";
  background-image: url(../pics/background.jpg);
  height: 100%;
  opacity: 0.10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}



/* REGISTER STYLES HERE*/

.main-register {
  width: 100%;
  height: 570px;
  position: relative;
  top: 130px;
  margin-left: auto;
  margin-right: auto;
}

.register {
  border: 2px solid #398EF2;
  border-radius: 30px;
  padding: 17px;
  background-color: rgba(12, 12, 12, 1);
  height: 470px;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}

#register-text {
  color: white;
  text-align: center;
}

/* #logo-register {
  margin-left: 36.5%;
} */
/* #form-logo a {
  margin-left: 37%;
} */
#form-logo {
  text-align: center;
}

.register input{
  color: rgb(15, 84, 221);
  border: 1px solid #398EF2;
  padding: 8px;
  border-radius: 5px;

}
.register label{
  color: white;
}

.form-items{
  margin-top: 20px;
  text-align: center;
  width: 100%;
}


.form-items-agree{
  margin-left: 26.5%;
  width: 60%;
  margin-top: 8%;
  font-family: 'Anton';
}


#register-submit:hover {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  cursor: pointer;
  /* border-radius: 2px; */
}

#register-submit {
  width: 60%;
  margin-left: 20%;
  margin-top: 6%;
  background-color: rgba(190, 0, 0, 0.9);
  color: white;
  padding: 6px;
  border-color: rgba(255, 0, 0, 0.7);
  font-family: 'Anton';
}

@media only screen and (max-width: 532px) {
  /* .main-register {
    width: 100%;
  } */
  .register {
    width: 90%;
  }

}
